<% if current_user %>
  <h1>Hey, <%= current_user.username %>!</h1>
  <p>This is your profile page</p>
  <a href="/decks">Play!</a>
  <a href="/users/<%=session[:user_id]%>/stats">Stats</a>
<% end %>
