<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <title>Brainstorm: Flashcards</title>
</head>

<header>
<div class="panel panel-default">
  <div class="panel-heading">
  <h3 class="panel-title pull-left">Brainstorm: Flashcards</h3>
  <div class="btn-group btn-group-md pull-right" role="group">
      <button type="button" class="btn btn-default">
        <a href="/">Home</a>
      </button>
      <% if current_user %>
            <a href="/users/<%= current_user.id %>">
              <button type="button" class="btn btn-default"><%= current_user.username %>'s profile</a>
              </button>
            <button type="button" class="btn btn-default"><a href="/logout">Logout</a></button>
      <% else %>
      <button type="button" class="btn btn-default">
       <a href="/users/new">Register</a>
      </button>
      <button type="button" class="btn btn-default">
       <a href="/login">Login</a>
      </button>
      <div class="clearfix"></div>
    </div>
      <% end %>
    </div>
  </div>
  </div>
</header>

<body>
  <main class="container">
  <div class="jumbotron">
  <%= yield %>
  </div>
  </main>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" ></script>

</body>
</html>

