<h2>Login here and answer questions you nerd!</h2>
<% if @errors %>
  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>
<form method='post' action='/'>
  Username: <input type='text' name='user[username]'>
  Password: <input type='password' name='user[password]'>
  <input type='submit' value='Log In' class='btn btn-success btn-xs'>
</form>
